*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;   
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:rgb(254, 253, 251);
    /*padding: 2rem 9%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1); 
}
header .logo{
    width: 50px;
    background:none;
    margin-left: 80px;
    /*height: 60px;
    
    margin-top: 40px;*/
}
header .name{
    margin-left: -500px;
    margin-top: 0px;
    font-family: "Garamond",serif;
    font-size: 40px;
}
/*.menu{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:rgb(237, 232, 225);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
    
    
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
   
}
ul{

    list-style-type: none;
    margin-left: 80px;
    padding: 35px;
    overflow:hidden;
    position: fixed;
    margin-top: -10px;
    width: 100%;
    
}*/
ul li{
    display: flex;
    float: left;
    z-index: -1;
   
}
li a{
    display: inline;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
    color: #666;
    font-size: 17px;
}
header li a:hover{
    color: #814fdd;
}
.topic{
    margin-top: 200px;
    margin-left: 85px;
   
}
.topic h4{
    
    color: #a678fe;
}
.topic h1{
    color: black;
    margin-top: 20px;
    font-size: 50px;
    font-family: "Garamond",serif;
}
.topic span{
    color: #a678fe;
}
.topic p{
    margin-top: 20px;
}
.icon i{
    margin-left: 160px;
    display: flex;
    margin-top: -27px;
}
.icon p{
    margin-left: 185px;
    display: flex;
    margin-top: -17px;
    font-weight:bold;
}
.cn{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    background: #a678fe;
    border: none;
    font-family: 'Times New Roman';
    font-size: 15px;
    border-radius: 5px;
}
.cn a{
    color: white;
    text-decoration: none;
    background: none;
}
.artist{
    margin-top: 40px;
    
}
.text{
    position:relative;
    color: black;
    font-weight: bold;
    top: 25px;
    margin-left: 135px;
    font-size: 18px;
    
   
}
.text1{
    margin-left: 135px;
    margin-top: 20px;
    position: absolute;
    bottom: 90px;
    color: gray;
}
.artist .art1{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.artist .art2{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -20px;
}
.artist .art3{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -20px;
}
.pic1 img{
    width: 700px;
    height: 700px;
    object-fit: cover;
    margin-top: -650px;
    position:absolute;
    margin-left: 650px;
    background: none;
}
.tt h2{
    text-align: center;
}
.tt p{
    text-align: center;
    margin-top: 20px;
}
.tt .cn2{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    background: #a678fe;
    border: none;
    border-radius: 5px;
    margin-left: 695px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.tt span{
    background: none;
    font-family:'Times New Roman';
    color: aliceblue;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.tt span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.tt:hover span {
    padding-right: 25px;
}
  
.tt:hover span:after {
    opacity: 1;
    right: 0;
  }
.part2 .ke{
    width: 700px;
    position: absolute;
    margin-top: 30px;
    z-index: -1;
  }
.textK{
    margin-left: 270px;
    margin-top: 180px;
    font-size: 14px;
    position: absolute;
    font-family: "Garamond",serif;
  }
span a{
    margin-top: 50px;
    font-size: 20px;
    color: azure;
    cursor: pointer;
    margin-left: 60px;
    text-decoration: underline;
}
.play{
    margin-top: 20px;
    width: 130px;
    height: 40px;
    background: black;
    border: none;
    font-family: 'Times New Roman';
    font-size: 17px;
    border-radius: 5px;
}
.playn{
    margin-left: 300px;
    margin-top: 250px;
    position: absolute;
}
.play p {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    background: none;
}
.playn  i{
    position: absolute;
    right: 100px;
    bottom: 12px;
    color: azure;   
}
.playn :hover{
    background-color: #285d85;
} 

/*The weekend*/

.weekend img{
    width: 700px;
    position: absolute;
    margin-top: 30px;
    margin-left: 500px;
    z-index: -1;
  }
.textWK{
    margin-left: 770px;
    margin-top: 180px;
    font-size: 14px;
    position: absolute;
    font-family: "Garamond",serif;
  }
.weekend span a{
    margin-top: 50px;
    font-size: 20px;
    color: azure;
    cursor: pointer;
    margin-left: 60px;
    text-decoration: underline;
}
.playwk{
    margin-left: 820px;
    margin-top: 250px;
    position: absolute;
}
.playw{
    margin-top: 20px;
    width: 130px;
    height: 40px;
    background: black;
    border: none;
    font-size: 17px;
    border-radius: 5px;
   
}
.playw p{
    color: azure;
    font-family: 'Times New Roman';
    margin-left: 20px;
}
.playwk i{
    position: absolute;
    right: 100px;
    bottom: 12px;
    color: azure; 
}
.playwk :hover{
    background-color: #285d85;
}

/*billie*/

.billie img{
    width: 700px;
    position: absolute;
    margin-top: 30px;
    margin-left: 1000px;
    z-index: -1;
  }
.textbl{
    margin-left: 1280px;
    margin-top: 180px;
    font-size: 14px;
    position: absolute;
    font-family: "Garamond",serif;
  }
.billie span a{
    margin-top: 50px;
    font-size: 20px;
    color: azure;
    cursor: pointer;
    margin-left: 50px;
    text-decoration: underline;
}
.playbl{
    margin-left: 1320px;
    margin-top: 250px;
    position: absolute;
}
.playb{
    margin-top: 20px;
    width: 130px;
    height: 40px;
    background: black;
    border: none;
    font-size: 17px;
    border-radius: 5px;
   
}
.playb p{
    color: azure;
    font-family: 'Times New Roman';
    margin-left: 20px;
}
.playbl i{
    position: absolute;
    right: 100px;
    bottom: 12px;
    color: azure; 
}
.playbl :hover{
    background-color: #285d85;
}
